<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PninaProject</title>
</head>
<body>
    <h1>Categories</h1>
    <table border="1">
        <thead>
        <tr>Category</tr>
<!--        <tr></tr>   -->
<!--    <tr></tr>   -->

        </thead>
        <tbody>
            {% for c in categories %}
                <tr>
                    <td>
                        {{ c.category_name }} <br>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>